    html {
        width: 100%;
        height: 100%;
        background-color: #fffff6 !important;
        scroll-behavior: smooth;
        font-family: 'Signika', sans-serif;
    }
    /* DARK MODE */
    
    .betterly-bg {
        background-color: #fffff6 !important;
    }
    
    .betterly-bg-nav {
        background-color: #43a047 !important;
        border-bottom: 1px solid #087f23;
    }
    
    .betterly-bg-bnav {
        background-color: #43a047 !important;
        border-top: 1px solid #087f23;
    }
    
    .betterly-card {
        background-color: #98ee99 !important;
    }
    /* CUSTOM COLOURS */
    
    .betterly-accent-txt {
        color: #ffffff !important;
    }
    
    .betterly-accent2-txt {
        color: #002702 !important;
    }
    /* CUSTOM CARDS */
    
    .card-dashboard {
        max-width: 100%;
        height: 100%;
    }
    
    .explore-img-cuteAnimals {
        background-image: url("../explore/assets/cuteAnimals.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
    
    .explore-img-coldWar2 {
        background-image: url("../explore/assets/ColdWar2.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
    
    .explore-img-civilUnrest {
        background-image: url("../explore/assets/civilUnrest.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
    
    .explore-img-surveillanceState {
        background-image: url("../explore/assets/surveillanceState.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
    
    .explore-img-EconomicInequality {
        background-image: url("../explore/assets/EconomicInequality.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
    
    .explore-img-Prepping {
        background-image: url("../explore/assets/Prepping.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
    
    .explore-img-Theories {
        background-image: url("../explore/assets/industry.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
    /*   MAIN & NAV */
    
    .navbar {
        width: 100%;
        position: fixed !important;
        z-index: 999 !important;
    }
    
    main {
        padding-top: 4em;
    }
    
    .explore-card {
        max-width: 95% !important;
        height: 50vh;
        margin: auto;
        -ms-flex-direction: column;
        border-radius: 2px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, .14), 0 3px 4px 0 rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        min-width: 0;
        position: relative;
        word-wrap: break-word
    }
    
    .card-dash-item {
        max-width: 95% !important;
        margin: auto;
        -ms-flex-direction: column;
        border-radius: 2px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, .14), 0 3px 4px 0 rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        min-width: 0;
        position: relative;
        word-wrap: break-word
    }
    
    .card-dash-item-index {
        max-width: 95% !important;
        height: 110rem;
        margin: auto;
        -ms-flex-direction: column;
        border-radius: 2px;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        min-width: 0;
        position: relative;
        word-wrap: break-word;
        font-family: 'Signika';
        font-size: 1rem !important;
        font-weight: 300 !important;
    }
    
    .card-dash-item-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1rem
    }
    
    .card-dash-item-body:first-child {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px
    }
    
    .card-dash-item-body:last-child {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px
    }
    /* CUSTOM POISITION */
    
    .bottom-nav {
        position: fixed !important;
        bottom: 0 !important;
        -ms-flex-pack: center!important;
        justify-content: center!important
    }
    
    .navbar-button {
        position: relative;
        z-index: 900;
    }
    
    .bottom-nav-item {
        line-height: 3em;
    }
    /* CUSTOM Widths / Heights */
    
    .width-100 {
        width: 100%;
    }
    
    .height-4em {
        height: 4em;
    }
    /* CUSTOM FONTS */
    
    @font-face {
        font-family: 'Signika';
        src: url('../fonts/Signika-Light.ttf') format('truetype'), url('../fonts/Signika-Light.woff') format('truetype'), url('../fonts/Signika-Light.ttf') format('truetype');
    }
    
    .wiki-margin {
        margin-bottom: 100vw;
    }
    /* TITLE FONT */

    
    .font-signika {
        font-family: 'Signika', sans-serif !important;
        font-smooth: auto;
    }
    /* HEADER FONT */
    
    h1,
    h4,
    h6 {
        font-family: 'Signika', sans-serif !important;
        color: #1be6f4 !important;
        font-smooth: auto;
    }
    
    h2 {
        font-family: 'Signika', sans-serif !important;
        color: #fff !important;
        font-smooth: auto;
    }
    
    h3 {
        font-family: 'Signika', sans-serif !important;
        color: #f4af1b !important;
        font-smooth: auto;
        font-size: 1rem !important;
    }
    
    h5 {
        font-family: 'Signika', sans-serif !important;
        font-smooth: auto;
        color: #e91e63 !important;
        font-size: 1rem !important;
    }
    
    p {
        font-family: 'Signika' !important;
        font-weight: 300;
        font-smooth: auto;
    }
    
    .text-cyan {
        color: #1be6f4 !important;
    }

    a {
        color: #e91e63 !important;
    }

    
    .nav-item {
        font-family: 'Signika', sans-serif !important;
        font-smooth: auto;
    }

    /* CUSTOM TEXTS */
    
    .text-respon {
        font-size: 1rem;
    }
   